body{
    background-image: linear-gradient(30deg, rgb(2, 221, 104), rgb(0, 110, 255));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#winLoss{
    position: fixed;
    z-index: 200;
    width: 99.85%;
    height: 80%;
    background-color: rgb(69, 69, 120);
    box-shadow: 5px 10px 20px rgb(30, 30, 51);
    top: 10%;
    margin-left: .05%;
    visibility: hidden;
}

#status{
    font-family: "bahnschrift";
    font-size: 72px;
    color: white;
    position: relative;
    top: 37%;
    text-align: center;
}

#error{
    position: fixed;
    z-index: 200;
    width: 20%;
    height: 10%;
    background-color: rgb(69, 69, 120);
    box-shadow: 2px 5px 10px rgb(30, 30, 51);
    top: 10%;
    visibility: hidden;
}

.animation{
    -webkit-animation-name: dialog;
    -webkit-animation-duration: 3s;
    -webkit-animation-direction: normal;
    -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes dialog{
    0% {margin-left: 2%; opacity: 0.0; visibility: hidden;}
    30%{margin-left: 6%; opacity: 1.0; visibility: visible;}
    60%{margin-left: 6%; opacity: 1.0; visibility: visible;}
    100%{margin-left: 2%; opacity: 0.0; visibility: hidden}
}

#errMsg{
    color: white;
    font-family: 'bahnschrift';
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 5%;
}

.head{
    font-family: 'bahnschrift';
    font-size: 30px;
    color: white;
    letter-spacing: 10px;
    position: absolute;
    top: 5%;
    word-spacing: 20px;
}

#context{
    text-align: center;
    font-family: 'bahnschrift';
    font-size: 30px;
    color: white;
    letter-spacing: 10px;
}

#opp_score{
    position: absolute;
    color: white;
    margin-left: 22.75%;
    left: 5%;
    display: inline-flex;
    font-family: 'bahnschrift';
    font-size: 20px;
    text-align: center;
}

#opp_score li{
    padding-left: 100px;
    list-style: none;
}

.footer{
    position: absolute;
    top: 90%;
    width: 100%;
    display: inline-block;
    text-align: center;
    color: white;
    font-family: 'bahnschrift';
    letter-spacing: 5px;
}

.cards{
    position: absolute;
    top: 30%;
    left: 8.5%;
    display: inline-flex;
}

#choice{
    display: inline;
}

#button{
    color: black;
    font-family: 'bahnschrift';
    font-size: 20px;
    position: fixed;
    top: 70%;
    left: 45%;
    background-color: white;
    border-style: solid; border-color: white;
    border-color: white;
    border-width: 1px;
    border-radius: 5%;
    padding: 10px;
    padding-left: 55px;
    padding-right: 55px;
    text-decoration: none;
}

.cardchoice{
    color: black;
    font-family: 'bahnschrift';
    font-size: 20px;
    background-color: white;
    border-style: solid; border-color: white;
    border-color: white;
    border-width: 1px;
    border-radius: 5%;
    padding: 10px;
    padding-left: 45px;
    padding-right: 45px;
    text-decoration: none;
}

#coloredName{
    position: absolute;
    top: 77%;
    left: 35%;
    visibility: hidden;
}

#whitecard{
    position: absolute;
    top: 77%;
    left: 46.3%;
    visibility: hidden;
}

#blackcard{
    position: absolute;
    top: 77%;
    left: 57.5%;
    visibility: hidden;
}

.num{
    position: relative;
    top: 50%;
    left: 45%;
    font-family: 'bahnschrift';
    font-size: 30px;
    color: white;
}

#Back{
    color: white;
    font-family: 'bahnschrift';
    font-size: 20px;
    position: fixed;
    top: 75%;
    left: 45%;
    border-style: solid; border-color: white;
    border-color: white;
    border-width: 1px;
    border-radius: 5%;
    padding: 10px;
}

#back :hover{
    background-color: white;
    color:black;
}

#title{
    position: relative;
    text-align: center;
}

.reds{
    background-image: linear-gradient(45deg, rgb(255, 157, 0), rgb(255, 0, 106));
    height: 300px;
    width: 250px;
    border-style: solid; border-color: white;
    border-width: 5px;
    border-radius: 10%;
    margin-left: 2%;
}

.greens{
    background-image: linear-gradient(45deg, rgb(0, 255, 157), rgb(0, 255, 0));
    height: 300px;
    width: 250px;
    border-style: solid; border-color: white;
    border-width: 5px;
    border-radius: 10%;
    margin-left: 2%;
}

.blues{
    background-image: linear-gradient(45deg, rgb(0, 183, 255), rgb(174, 0, 255));
    height: 300px;
    width: 250px;
    border-style: solid; border-color: white;
    border-width: 5px;
    border-radius: 10%;
    margin-left: 2%;
}

.yellows{
    background-image: linear-gradient(45deg, rgb(238, 255, 0), rgb(255, 179, 0));
    height: 300px;
    width: 250px;
    border-style: solid; border-color: white;
    border-width: 5px;
    border-radius: 10%;
    margin-left: 2%;
}

.whites{
    background-image: linear-gradient(45deg, rgb(189, 189, 189), rgb(255, 255, 255));
    height: 300px;
    width: 250px;
    border-style: solid; border-color: white;
    border-width: 5px;
    border-radius: 10%;
    margin-left: 2%;
}

.blacks{
    background-image: linear-gradient(45deg, rgb(63, 63, 63), rgb(0, 0, 0));
    height: 300px;
    width: 250px;
    border-style: solid; border-color: white;
    border-width: 5px;
    border-radius: 10%;
    margin-left: 2%;
}